body {
  font-family: "Arial";
  background-color: #222;
}

.signin {
  display: none;
}

.signin_active {
  display: block;
}

.row {
  margin-top: 10px;
}

.control {
  padding: 20px;
  border-radius: 25px;
  border: 1px solid gray;
  width: 200px;
  box-sizing: border-box;
}

.btn {
  background: green;
  color: white;
  padding: 20px;
  border-radius: 25px;
  border: none;
  display: block;
  width: 200px;
  box-sizing: border-box;
  cursor: pointer;
}

.welcome {
  display: none;
}

.welcome_active {
  display: block;
}

.logout {
  display: none;
  margin-top: 10px;
}

.logout_active {
  display: block;
}
